<!-- public/views/home.html -->

<div class="jumbotron text-center">
    <h1>Upload Photo Service</h1>
</div>
<div class="alert alert-success" role="alert" ng-show="successMessage">{{successMessage}}</div>
<div class="alert alert-danger" role="alert" ng-show="errMessage">{{errMessage}}</div>
<ul>
  <li ng-repeat="pic in pictureUrlList track by $index">
    <div class="row">
      <img src="{{pic.path}}" alt="{{pic.path}}" ng-click="getDimension(pic.id)" class="col-md-8" />
      <div class ="col-md-4" ng-show="pic.dimension">
        <span style="font-weight: bold;">Dimensions:</span><br />
        Width:<span ng-show="pic.dimension.width">{{ pic.dimension.width }}</span><br/>
        Height:<span ng-show="pic.dimension.height">{{ pic.dimension.height }}</span><br/>
      </div>
    </div>
  </li>
</ul>
