  <!-- public/views/home.html -->
<!-- add photo upload control -->
<form name="myForm" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>Upload photo on submit</lengend>
      Photo (Max 4MB):
        <input type="file" ngf-select ng-model="picFile" name="file"
               accept="image/*" ngf-max-size="4MB" required
               ngf-model-invalid="errorFile">
        <i ng-show="myForm.file.$error.required">*required</i><br>
        <i ng-show="myForm.file.$error.maxSize">File too large
            {{errorFile.size / 1000000|number:1}}MB: max 4M</i>
        <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
        <button ng-click="picFile = null" ng-show="picFile">Remove</button>
        <br>
        <button ng-disabled="!myForm.$valid" ng-click="uploadPhoto(picFile)">Submit</button>
        <div class="progress" ng-show="picFile.progress >= 0">
          <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
        </div>
        <div ng-show="uploadSuccessMessage" class="alert alert-success">
            {{uploadSuccessMessage}}
        </div>
        <div ng-show="uploadErrorMessage" class="alert alert-danger">
          {{uploadErrorMessage}}
        </div>
  </fieldset>
</form>
<br/>
<div class="alert alert-success" role="alert" ng-show="successMessage">{{successMessage}}</div>
<div class="alert alert-danger" role="alert" ng-show="errMessage">{{errMessage}}</div>
<ul>
  <li ng-repeat="pic in pictureUrlList track by $index">
    <div class="row">
      <img src="{{pic.path}}" alt="{{pic.path}}" ng-click="getDimension(pic._id)" class="col-md-8" />
      <div class ="col-md-4" ng-show="pic.dimension">
        <span style="font-weight: bold;">Dimensions:</span><br />
        Width:<span ng-show="pic.dimension.width">{{ pic.dimension.width }}</span><br/>
        Height:<span ng-show="pic.dimension.height">{{ pic.dimension.height }}</span><br/>
      </div>
    </div>
  </li>
</ul>
